.hero {
	max-width: 1600px;
	margin: 0 auto;
	background: #2f303a;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../img/hero/hero-bg-mob-1x.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 118px;
	padding-bottom: 118px;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../img/hero/hero-bg-mob-2x.jpg);
	}

	@include tab {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../img/hero/hero-bg-tab-1x.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../img/hero/hero-bg-tab-2x.jpg);
		}
	}

	@include desk {
		padding: 200px 0;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../img/hero/hero-bg-desk-1x.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../img/hero/hero-bg-desk-2x.jpg);
		}
	}
}

.hero__btn {
	margin-left: auto;
	margin-right: auto;
}

.hero__title {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.64;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	color: var(--white-colore);
	max-width: 360px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	@include desk {
		font-size: 44px;
		line-height: 1.36;
		max-width: 696px;
	}
}
