.filters {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media screen and (max-width: 767px) {
		margin-bottom: -15px;
	}
	@include tab {
		justify-content: center;
	}
}

.filters__item {
	@media screen and (max-width: 767px) {
		margin-bottom: 15px;
	}
}

.filters__item:not(:last-child) {
	margin-right: 8px;
}

.project {
	margin-top: 40px;
	margin-bottom: -30px;
	@include tab {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-top: 30px;
	}
	@include desk {
		margin-top: 50px;
	}
}

.project__item {
	margin-bottom: 30px;
	@include tab {
		flex-basis: calc(100% / 2 - 30px);
		margin-left: 30px;
	}
	@include desk {
		flex-basis: calc(100% / 3 - 30px);
	}
}

.project__link {
	display: block;
	position: relative;
	transition-property: box-shadow;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing);
	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
		cursor: pointer;
	}
	&:hover .project__overlay,
	&:focus .project__overlay {
		transform: translateY(0);
	}
}

.project__wrap {
	position: relative;
	overflow: hidden;
}

.project__overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--white-colore);
	font-size: 18px;
	line-height: calc(28 / 18);
	letter-spacing: 0.03em;
	padding: 77px 24px;
	height: 100%;
	transform: translateY(100%);
	transition-property: transform;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing);
	@include tab {
		padding-top: 49px;
		padding-bottom: 49px;
	}
	@include desk {
		padding-top: 63px;
		padding-bottom: 63px;
	}
}

.project__box {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 24px;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

.project__box--tab-padding {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		padding-bottom: 56px;
	}
}

.project__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--titel-colore);
	margin-bottom: 4px;
}

.project__text {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--text-colore);
}

.filters__btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	text-align: center;
	border: none;
	color: var(--titel-colore);
	background: #f5f4fa;
	border-radius: 4px;
	padding: 6px 22px;
	position: relative;
	transition-property: color, background, box-shadow;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing);
	&:hover,
	&:focus {
		color: var(--white-colore);
		background: var(--active-colore);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
	}
}

.active {
	background: var(--active-colore);
	color: var(--white-colore);
}
