.section--team-background {
	background: #f5f4fa;
}

.team {
	margin-bottom: -30px;

	@include tab {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
	}
}

.team__item {
	background: var(--white-colore);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	margin-bottom: 30px;

	@include tab {
		flex-basis: calc(100% / 2 - 30px);
		margin-left: 30px;
	}

	@include desk {
		flex-basis: calc(100% / 4 - 30px);
	}
}

.team__box {
	padding-top: 30px;
	padding-bottom: 24px;

	@include desk {
		padding-bottom: 30px;
	}
}

.team__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	text-align: center;
}

.team__text {
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--text-colore);
	margin-top: 10px;
	margin-bottom: 16px;
}
