.backdrop {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 600ms, visibility 600ms;
}

.backdrop.is-hidden .modal {
	transform: scale(0.2) rotate(70deg);
}

.modal {
	width: 450px;
	min-height: 609px;
	background-color: var(--white-colore);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1) rotate(0deg);
	transition: transform 500ms;
	padding: 40px;

	@include desk {
		width: 528px;
		min-height: 581px;
	}
}

.modal__close {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--white-colore);
	color: #000000;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 8px;
	right: 8px;
	transition-property: color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing);
	&:hover,
	&:focus {
		color: var(--active-colore);
	}
}

.modal__icons {
	fill: currentColor;
}

.modal__title {
	font-weight: 700;
	font-size: 20px;
	line-height: calc(30 / 20);
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--titel-colore);
	margin-bottom: 12px;
	@include desk {
		line-height: calc(23 / 20);
	}
}

.modal__comments {
	margin-bottom: 20px;
}

.modal__checkbox {
	margin-bottom: 30px;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.modal__form {
	margin-bottom: 10px;
}

.form-text {
	width: 100%;
	height: 120px;
	display: block;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.01em;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	resize: none;
	&::placeholder {
		color: rgba(117, 117, 117, 0.5);
	}
	@include desk {
		font-size: 12px;
		line-height: calc(14 / 12);
	}
}

.form-field__text {
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: var(--text-colore);
	display: block;
	margin-bottom: 4px;	
}

.form-field__wrap {
	position: relative;
}

.form-field__icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	transition-property: fill;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing);
}

.form-field__input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	color: #000000;
	outline: none;
	transition-property: border-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing);
	&:focus {
		border-color: var(--active-colore);
	}
	&:focus + .form-field__icon {
		fill: var(--active-colore);
	}
}

.btn-between {
	margin-left: auto;
	margin-right: auto;
}
